#prop{
    font-weight: bold;
    font-family:cursive;
    font-size: large;
    /* padding-left: 10px; */
    /* padding-right: -10px; */
    color:#915a4b;
    
}
.loginname{
    font-weight: bold;
    font-family:cursive;
    font-size: large;
    padding: 10px;
    color:#915a4b;
}

#landingsubdiv{
   
 display:flex;
 
 justify-content:space-around
}